<template name="form">
    <form class="add-new-post">
        <input value="" id="message" type="text" class="validate">
        <label class="active" for="message">Name</label>
        <input value="" id="message" type="text" class="validate">
        <label class="active" for="message">Subject</label>
        <span>File</span>
        
        
        <input type="file" />
        <button class="waves-effect waves-light btn">Submit</button>
        

    </form>
</template>

<template name="posts">
    <div class="grid">
        {{#each postList}}
            <div class="grid-sizer"></div>
            <div class="grid-item">
                {{updateMasonry}}
                <img src="{{this.url}}"/>
            </div>
        {{/each}}
    </div>
</template>