.grid-sizer,
.grid-item {
    width: 32%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}
body {
    background-image: url("http://www.psdgraphics.com/file/wooden-panels-texture.jpg");
}